* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal
}


body {
    background-color: rgb(29, 27, 27);


    .text1 {
        margin-left: 43%;
        margin-top: 4%;
        font-weight: bold;
        border-radius: 20px;
        text-decoration: underline;
        user-select: none;
    }
    .Topbar {
        display: flex;
        width: min-content;
        margin: auto;
        margin-top: 13px;
        gap: 6px;
        user-select: none;

        button {
            border-radius: 100px;
            width: 100px;
            height: 40px;
            border: 0px;
            font-weight: bold;
            font-size: 16px;
            background-color: aliceblue;
        }
        button {
            display: flex;
            height: 100vh;
            background: #000000;
        }


        button {
            width: 100px;
            height: 40px;
            background: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            border-radius: 100px;
            transition: all 0.5s ease;
        }


        button h2 {
            color: rgb(255, 255, 255);
            font-size: 2rem;
            position: relative;
             z-index: 2;
        }


        button::before {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
             background: linear-gradient(
                 0deg, 
                transparent, 
                transparent 30%, 
                rgba(0, 0, 0, 0.7)
            );
            transform: rotate(-45deg);
            transition: all 0.5s ease;
            opacity: 0;
        }


        button:hover {
            transform: scale(1.05);
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        }


        button:hover::before {
            opacity: 1;
            transform: rotate(90deg) translateY(100%); 
        }
        button h2 {
            color: rgb(255, 255, 255);
            font-size: 2rem;
            position: relative;
             z-index: 2;
        }

        button:disabled {
            color: rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }


    }
    .Middlebar {
        display: flex;
        width: min-content;
        margin: auto;
        margin-top: 13px;
        gap:6px;
        margin-top: 2.5%;
        margin-left: 80%;

        button {
            border-radius: 150px;
            border: 0px;
            img {
                height: 75%;
                margin-top: 3.2px;
                user-select: none;
            }
        }

        button {
            width: 50px;
            height: 40px;
            background: #dadada;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            border-radius: 100px;
            transition: all 0.5s ease;
        }

        button h2 {
            color: rgb(70, 70, 70);
            position: relative;
             z-index: 2;
        }

        button:hover {
            transform: scale(1.05);
            box-shadow: 0 0 20px rgba(54, 54, 54, 0.5);
        }
    }
    
    .Bottombutton {
        display: flex;
        width: min-content;
        margin: auto;
        margin-top: 30.2%;
        user-select: none;

        button {
            width: 185px;
            height: 53px;
            background: #0088cc;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            border-radius: 100px;
            transition: 0.5s ease;
            font-size: 18px;
            font-weight: bold;
            border: 0px;
        }

        button::before {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
             background: linear-gradient(
                 0deg, 
                transparent, 
                transparent 30%, 
                rgba(0, 0, 0, 0.7)
            );
            transform: rotate(-45deg);
            transition: 0.5s ease;
            opacity: 0;
        }

        button:hover {
            transform: scale(1.05);
            box-shadow: 0 0 20px #28b7ff;
        }
        
    }

    .Downloadpopup {
        opacity: 0;
        z-index: 4;
        pointer-events: none;
        transition: opacity 0.4s ease;
        width: 75%;
        background-color: white;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        aspect-ratio: 2 / 1;
        border-radius: 50px;
    }

    .Downloadpopup.visible {
        opacity: 1;
        pointer-events: auto;
    }
    
    .DownloadX {
        button {
            background-color: rgb(194, 194, 194);
            width: 3%;
            height: 6%;
            border: 0px;
            border-radius: 100px;
            top: 5%; left:0; right: -90%; bottom: 90%;
            aspect-ratio: 1 / 1;
            margin: auto;
            position: absolute;

            img {
                height: 65%;
                width: 70%;
                user-select: none;
            }
        }
        button {
            background: #cacaca;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 100px;
            opacity: 1;
            transition: background 2s ease-in-out;

        }

        button:hover {
            transform: scale(1.09);
            transition: transform 0.3s ease-in-out;
            box-shadow: 0 0 20px #dddddd;
        }
    }
    .downloadbutton2{
        user-select: none;
        justify-content: center;
        align-items: center;
        font-size: larger;
        font-weight: bolder;
        color: rgb(233, 233, 233);
        display: flex;
        margin-top: 10%;
        margin-left: 3%;
        background-color: #28b7ff;
        width: 13%;
        height: 7%;
        border: 0px;
        border-radius: 50px;
    }
    
    .downloadbutton3{
        user-select: none;
        justify-content: center;
        align-items: center;
        font-size: larger;
        font-weight: bolder;
        color: rgb(233, 233, 233);
        display: flex;
        margin-top: 8%;
        margin-left: 3%;
        background-color: #28b7ff;
        width: 13%;
        height: 7%;
        border: 0px;
        border-radius: 50px;
    }

    .downloadbutton4{
        user-select: none;
        justify-content: center;
        align-items: center;
        font-size: larger;
        font-weight: bolder;
        color: rgb(233, 233, 233);
        display: flex;
        margin-top: 8%;
        margin-left: 3%;
        background-color: #28b7ff;
        width: 13%;
        height: 7%;
        border: 0px;
        border-radius: 50px;
    }

.aboutme {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 3;
    width: 75%;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    aspect-ratio: 2 / 1;
    border-radius: 50px;
}

.aboutme.visible {
    opacity: 1;
    pointer-events: auto;
}

.Aboutmebackgroundblur {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(2px);
    background: rgba(0,0,0,0.3);
    display: none;
}

    .aboutmeX {
        button {
            background-color: rgb(194, 194, 194);
            width: 3%;
            height: 6%;
            border: 0px;
            border-radius: 100px;
            top: 5%; left:0; right: -90%; bottom: 90%;
            aspect-ratio: 1 / 1;
            margin: auto;
            position: absolute;

            img {
                height: 65%;
                width: 70%;
                user-select: none;
            }
        }
        button {
            background: #cacaca;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 100px;
            opacity: 1;
            transition: background 2s ease-in-out;

        }

        button:hover {
            transform: scale(1.09);
            transition: transform 0.3s ease-in-out;
            box-shadow: 0 0 20px #dddddd;
        }
    }
    .text2 {
        text-decoration: underline;
        font-weight: bold;
        user-select: none;
        margin: center;
        margin-left: 45%;
    }

    .paragraph1{
        margin-left: 35%;
        margin-right: 18%;
        margin-top: 5%;
        user-select: none;
        font-weight: 600;
        font-size: x-large;
    }

    .photo1 {
        border-radius: 15px;
        margin-left:2%;
        position: absolute;
        margin-top: 7%;
        height: 30%;
        width: 30%;
        user-select: none;
        
    }
    
    .Maintext {
        position: absolute;
        display: flex;
        flex-direction: column; 
        align-items: center;    
        justify-content: flex-start;
        height: 63%;
        width: 75%;
        background-color: aliceblue;
        border-radius: 35px;
        top: 20%; left: 12.5%; right: 0; bottom: 0;
    }

    .Maintext img{
        width: 30%;        
        height: 50%;       
        border-radius: 50px;
        margin-top: 6%;     
        margin-bottom: 4%;
        margin-right: 65%;  
        user-select: none;
    }

    .text3 {
        font-weight: bold;
        text-decoration: underline;
        margin: 10px 0;         
        text-align: left;
        width: 80%;
        margin-top: -25%;
        margin-left: 35%;             
        user-select: none;
    }

    .paragraph2 {
        border-radius: 15px;
        font-weight: 650;
        margin: 0 0 0 0;    
        width: 50%;
        margin-top: 2%;
        height: 10%;            
        user-select: none;
        text-align: left;
        margin-left: 35%;
    }
    
}